body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    z-index: 1;
    position: fixed;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    font-family:'Manjari';
    height: 30px;
    background-image: url('asset/imgs/kath.png'); /* Ilagay ang URL ng iyong background image */
    background-size: 100% 100%; /* I-set ang background image na mag-fill sa buong sukat ng #container */
    background-repeat: no-repeat; /* Ito ay para maiwasan ang pag-repeated ng background image */
}
h1{
  font-family:'Manjari';
}
span{
  font-family:'Manjari';
  font-weight: bold;
}
.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}

.logout_btn:hover {
    background: #0B87A6;
}

.sidebar {
    z-index: 1;
    top: 0;
    background-color: #006F0B;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sidebar .profile_info .profile_image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.sidebar .profile_info h4 {
    color: #ffffff;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Marcellus SC';
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -185px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content {
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: url(background.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check:checked~.sidebar .profile_info {
    display: none;
}

#check {
    display: none;
}

.mobile_nav {
    display: none;
}

.content .card p {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    #sidebar_btn {
        display: none;
    }

    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked~.content {
        margin-left: 0;
    }

    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }

    .nav_bar {
      background-color: #006F0B;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover {
        color: #19B3D3;
    }

    .mobile_nav_items {
      background-color: #006F0B;
        display: none;
    }

    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover {
        background: #19B3D3;
    }

    .mobile_nav_items i {
        padding-right: 10px;
    }

    .active {
        display: block;
    }
}
/* style sa reegistration */
/* style sa enrollment */
.enrollment{
    min-height: 100vh;
    align-items: center;
    justify-content: end;
    display: none;
  }
  .container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  .container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #006F0B;
  }
  .container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
  }
  .container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
  }
  .container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
  }
  form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
  form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
  .container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
  }
  .container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
  }
  .input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
  }
  .input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
  }
  .input-field input :focus,
  .input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  }
  .input-field select,
  .input-field input[type="date"]{
    color: #707070;
  }
  .input-field input[type="date"]:valid{
    color: #333;
  }
  .container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #006F0B;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .container form .btnText{
    font-size: 14px;
    font-weight: 400;
  }
  form button:hover{
    background-color: #006F0B;
  }
  form button i,
  form .backBtn i{
    margin: 0 6px;
  }
  form .backBtn i{
    transform: rotate(180deg);
  }
  form .buttons{
    display: flex;
    align-items: center;
  }
  form .buttons button , .backBtn{
    margin-right: 14px;
  }
  @media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
  }
  @media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
  }
  /* style sa enrollment */
  
 /* style sa faq */
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #000000;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;
  background-color: #006F0B;
  border-radius: 10px;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
 /* style sa faq */
/* style sa dashboard */
body {
  background: #ecececdb;
}
.hidden {
    display: none;
  } 
  .hidden2 {
    display: none;
  } 
#border {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: #205c20;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1250px;
  margin: 15px auto;
  padding: 20px;
  gap: 20px;
}
#leftonti{
  margin-left: 80px;
}
.hidden-content{
  display: none;
}
.card-list .card-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}
.custom{
  color: #000000;
}

.card-list .card-item:hover {
  border: 2px solid #000;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}
#babakonti{
  margin-bottom: 50px;
}

.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: #F7DFF5; 
  color: #B22485;
}   

.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}
h3{
  font-family: 'Manjari';
  text-align: center;
}

.card-list .editor {
  background-color: #d6f8d6; 
  color: #205c20;
}
span{
  font-family:'Manjari';
  font-weight: bold;
}

.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow  {
  background: #000;
  color: #fff; 
}

@media (max-width: 1200px) {
  .card-list .card-item {
      padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
      margin: 0 auto;
  }
}
/* style for dashbboard */
/* style for dashbboard */

/* style for dashbboard */
  
@media (max-width: 550px) {
  .calendar{
    left: 0;
  }
}
  /* style sa calendar */
.calendar {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
    text-align: center;
    color: #000;
    position: absolute;
  }
  /* .calendar{
    width: 80%; 
    max-width: 1000px; 
    margin: 1% auto; 
    border-radius: 20px;
    position: absolute;
    left: 20%;
    display: none;
  } */

  table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
   
  }

  th {
    
     padding: 10px;
    text-align: center;
    color: #000000;
    width: calc(100% / 7); 
  }
 td {
    border: #000;
    padding: 10px;
   text-align: end;
   font-weight: 600;
border: 1px solid #c3c3c3; /* Add this line for borders */
text-align: right;
background-color: rgb(222, 255, 226);
    vertical-align: top;
   color: #000000;
   width: calc(100% / 7); 
 }
  th {
    background-color: #006F0B;
    color: #fff;
border: 1px solid #c3c3c3; /* Add this line for borders */
  }

  td {
    cursor: pointer;
  }

  td:hover {
    background-color: #47ce559e;
  }
  caption {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
 /* style sa calendar */
 /* style sa table */
 .table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #006F0B;
  color: #ddd;
}

@media (max-width: 600px) {
  th, td {
      font-size: 12px;
  }
}
 /* style sa table */